body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f6f9;
}

.navbar {
    background-color: #e3f2fd;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    display: block;
    margin-top: 10px;
    padding: 8px;
}
