<!DOCTYPE html>
<html>
<head>
    <title>Car Defect Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="nav-left">Car Defect Detection</div>
    <div class="nav-right">
        {% if session.get('user') %}
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
